:root{
    --primary: rgb(24, 38, 52);
    --secondary: rgb(51, 177, 143);
    --tertiary: rgb(241, 125, 29);
}

.is-primary-app{
    background-color: var(--primary);
    color: white;
}

.is-secondary-app{
    background-color: var(--secondary);
    color: white;
}

.is-tertiary-app{
    background-color: var(--tertiary);
    color: white;
}

.has-text-primary-app{
    color: var(--primary);
}

.has-text-secondary-app{
    color: var(--secondary);
}

.has-text-tertiary-app{
    color: var(--tertiary);
}