:root{
    --primary: rgb(24, 38, 52);
    --secondary: rgb(51, 177, 143);
    --tertiary: rgb(241, 125, 29);
}

.app-background-is-primary{
    background-color: var(--primary);
    color: white;
}

.app-background-is-secondary{
    background-color: var(--secondary);
    color: white;
}

.app-background-is-tertiary{
    background-color: var(--tertiary);
    color: white;
}