@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fredoka");

.has-text-title-app {
    font-family: 'Fredoka', sans-serif;
}

.body {
    font-family: 'Montserrat', sans-serif;
}

.is-unbreakable {
    white-space: nowrap;
}

.has-shade {
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}