@import url("https://fonts.googleapis.com/css?family=Montserrat");

@font-face {
    font-family: SpaceColony;
    src: url("../fonts/SpaceColony-Regular.otf") format("opentype");
}

@font-face {
    font-family: SpaceColony;
    src: url("../fonts/SpaceColony-Bold.otf") format("opentype");
    font-weight: bold;
}

.has-text-logo-bold-app {
    font-family: 'SpaceColony';
    font-weight: bold;
}

.has-text-logo-app {
    font-family: 'SpaceColony';
}

.body {
    font-family: 'Montserrat', sans-serif !important;
}

.is-unbreakable {
    white-space: nowrap;
}

.has-shade {
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}