@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Fredoka");

body {
    font-family: Montserrat;
}

.is-font-fredoka{
    font-family: Fredoka;
}

.has-shade {
    text-shadow: 1px 1px 1px #000, 3px 3px 5px rgb(0, 0, 3);
}